@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Tilt+Prism&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
}

body {
    background-color: black;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.sub-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    height: 93vh;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color:rgba(156, 153, 153, 0.404); 
}

.btn-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-social button {
    margin: 0 3rem 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 38px;
    border-radius: 10px !important;
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    border-width: 0;
    background-color: black;
    font-weight: 600;
    width: 4% !important;
}

.separador {
    display: flex;
    justify-content: center;
    align-items: center;
}

.separador hr {
    background-color: #0487D9;
    width: 100%;
    margin: 1rem 0;
}

.separador .derecha {
    margin-left: 1rem;
}

.separador .izquierda {
    margin-right: 1rem;
}

h2 {
    margin: 1.5rem 0 2rem 0;
    text-align: center;
}

label {
    padding-left: 16px;
    opacity: 0.75;
}

input {
    display: flex;
    border-radius: 50px;
    border-style: none;
    outline: none;
    margin-top: 15px;
    padding: 12px 24px;
    width: 99%;
    background-color: #171515;
    font-size: 12pt;
    color: #fff;
}

input:focus {   
    color: #fff;
    background-color: #171515;
}
    
.Eye{
    position: absolute;
    transform: translate(390px,20px);
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
    height: 40px;
    background-color: #171515;
    border-radius: 5px;

}

.Eye1{
    position: absolute;
    transform: translate(390px,20px);
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
    height: 40px;
    background-color: #171515;
    border-radius: 5px;

}

.bx{
    color:#fff;
}

.cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecera .atras{
    position: absolute;
    margin-right: 25%;
    margin-bottom: 1%;
}

.cabecera img {
    width: 35px;
    height: 35px;
}

.cabecera .atras:hover {
    opacity: 0.8;
}

button {
    padding: 12px 48px;
    border-radius: 50px;
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    border-width: 0;
    background-color: black;
    font-weight: 600;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

button:hover {
    opacity: 0.8;
    transition: .6s;
	transform: scale(1.03);
    color: aliceblue;
}

.bottom-form {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.login {
    padding-left: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.login:hover {
    opacity: 0.8;
    transition: .5s;
	transform: scale(1.2);
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.subname {
    margin: 0 1rem 1rem 0;
}

.subname input {
    width: 200px;
}






